
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container,
.play-button-container,
footer {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('nora.gif') center/cover no-repeat;
    overflow: hidden; 
    background-size: cover; 
    position: relative; 
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
}

.container {
    background-color: rgba(16, 16, 19, 0.6);
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    max-width: 800px;
    margin: auto;
    position: absolute;
    text-align: center;
    background: rgba(15, 15, 18, 0.6);
    backdrop-filter: blur(4px); 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    text-align: center;
}



header {
    margin-bottom: 2rem;
}

/* Style the icon buttons */
.icon-button {
    display: inline-block;
    width: 15%; 
    height: auto; 
    max-width: 50px; 
    margin: 15px 0 20px 0;
    text-decoration: none;
    transition: transform 0.3s ease; 
    cursor: pointer;
    background-color: transparent; 
    border: none; 
    padding: 0; 
    outline: none; 
}

.icon-button:hover {
    transform: none;
}


.icon-button:focus {
    outline: none;
}


.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: -75px auto 1rem auto; 
    object-fit: cover;
    border: 3px solid white;
}

h1, h2 {
    font-weight: 600; 
}

p {
    opacity: 0.7; 
}

.glowing-image {
    max-width: 40px; 
    width: 100px; 
    height: auto; 
    margin: 20px 0; 
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
}


.glowing-image:hover {
    transform: scale(1.05); 
}


.glowing-image:first-child {
    margin-right: 3px; 
}

.glowing-image:last-child {
    margin-left: 3px; 
}


h2 {
    font-size: 14px; 
    opacity: 0.5; 
    font-weight: 100; 
}

.invisible-button {
    width: 0;
    height: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(10px); 
    opacity: 1;
    transition: opacity 0.5s ease-in-out; 
}


.overlay-content {
    text-align: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem;
    color: white;
    position: fixed; 
    bottom: 0;
    width: 100%;
}
